################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Stock Management/v14
/.vs/Stock Management/v15
/Stock Management.v12.suo
/Stock Management.VC.db
/Updater/obj
/Updater/bin
/UpdateHelper/bin
/UpdateHelper/obj
/StockManagementCore/bin
/StockManagementCore/obj
/Localisation/bin
/Localisation/obj
/Stock Management/bin
/Stock Management/obj
